<a class="logo">
    <span class="lead">Sloan App</span>
</a>
<nav class="menu">
    <ul>
        <li class="active">
            <a href="#/en-US/home/">Home</a>
        </li>
        <li>
            <a href="#/en-US/about/">About</a>
        </li>
        <li>
            <a href="#/en-US/services/">Services</a>
        </li>
        <li>
            <a href="#/en-US/contact/">Contact</a>
        </li>
        <li class="sign-in">
            <a href="#/en-US/login/">
                <i class="fa fa-sign-in"></i>
                <span>Sign in</span>
            </a>
        </li>
    </ul>
</nav>