<div class="login">
<div data-ng-controller="OrganisationController as careGiverListVar ">
	<div class="form">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th><span>I am Looking For..</span></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="care in careGiverListVar"><!--  data-ng-model="organisation.organisation_name" -->
						<td><a  data-ng-click="customerLookingFor(care)" >{{care}}</a></td>
					</tr>

				</tbody>
			</table>
			<!-- <button type="submit" class="btn btn-default submit"
						data-ng-submit="organization()">next</button> -->
		</div>
	</div>
	</div>
</div>